extends layout

block content

  
  dive(data-role="page",data-theme="b", id="home")
    dive(data-role="navbar",id="navi")
      ul
        li
          a(href="/?type=news",class="ui-btn-active ui-state-persist") News
        li
          a(href="/?type=email",class="ui-btn-active ui-state-persist") Email
        li
          a(href="/?type=game",class="ui-btn-active ui-state-persist") Game

    dive(data-role="header")
      h1= title
      p Welcome to #{title}

    dive(data-role="content")
      -var linkPage="default"
      -if (link=="news"){
      -linkPage="http://news.stanford.edu/"
      -}
      -else if(link=="email"){
      -linkPage="http://mail.qq.com/"
      -}
      -else if(link=="game"){
      -linkPage="http://www.baptistebrunet.com/games/fruit_salad/"
      -}
      
      center
        iframe(id="iframe1",src= "#{linkPage}",width="80%",onload="this.height=iframe1.document.body.scrollHeight")





